.Projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -7vh;
}

.Projects-header h1 {
  font-weight: 900;
  font-size: 3.6em;
  text-transform: uppercase;
  line-height: 0.75;
}

.Cont-img img {
  width: 88vw;
  max-width: 500px;
  height: auto;
}

.Cont-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Cont-body h3 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 1.2em;
}

.b-text {
  font-weight: 700;
}

@media only screen and (min-width: 768px) {
  .Projects-header h1 {
    font-size: 5.5em;
  }

  .Cont-body h3 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1100px) {
  .Projects-header h1 {
    font-size: 5em;
  }

  .Cont-body h3 {
    font-size: 1.7em;
  }
}

