.Message-me {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 0 0;
}

.Message-me a {
  color: #aaa;
  text-decoration: none;
  padding: 10px;
}

.Message-me a:hover {
  color: #000;
}
