.Links {
  margin: 30px 0 -30px 0;
}

.Links-list {
  padding: 0;
}

.Links-list li {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 6px;
}

.Links-list li p {
  margin: 0;
  font-weight: 200;
}

.Links-list li a {
  color: #aaa;
  font-weight: 200;
  text-decoration: none;
}

.Links-list li a:hover {
  color: #000;
}
