.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -6vh;
  margin: 80px 0;
}

.About-header {
  margin-bottom: -80px;
  z-index: 3;
  text-align: center
}

.About-header h1 {
  font-weight: 900;
  font-size: 3.6em;
  text-transform: uppercase;
  line-height: 0.75;
}

.About-img img {
  width: 88vw;
  max-width: 500px;
  height: auto;
}

.About-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
  text-align: center;
}

.Cont-head h3 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2em;
}

.Cont-body p {
  margin: 0;
  max-width: 375px;
  font-size: 1em;
  font-weight: 200;
  line-height: 1.5;
}

.w-text {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .About-header {
    margin-bottom: -120px;
  }

  .About-header h1 {
    font-size: 5.5em;
  }

  .Cont-head h3 {
    font-size: 2.5em;
    margin: 25px;
  }

  .Cont-body p {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1100px) {
  .About {
    margin: 80px 0;
  }

  .About-header {
    margin-bottom: -125px;
  }

  .About-header h1 {
    font-size: 5.7em;
  }

  .Cont-head h3 {
    font-size: 2em;
    margin: 1vh 0;
  }

  .Cont-body p {
    font-size: 1em;
    max-width: 500px;
  }
}
