.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Home-cont img {
  width: 88vw;
  max-width: 500px;
  height: auto;
}

.Home-txt {
  font-weight: 900;
  font-size: 3.6em;
  text-transform: uppercase;
  line-height: 0.75;
}

.Home-txt p {
  margin-top: -45px;
}

.w-text {
  color: #fff;
}

@media only screen and (min-width: 1100px) {
  .Home-txt {
    font-size: 5em;
  }

  .Home-txt p {
    margin-top: -60px;
  }
}
