.Contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.Body-img {
  margin-bottom: -96px;
}

.Body-img img {
  width: 88vw;
  max-width: 500px;
  height: auto;
}

.Body-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Body-cont h1 {
  font-weight: 900;
  font-size: 3.6em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
  line-height: 0.75;
}

.Contact-info {
  display: flex;
  flex-direction: column;
  width: 88vw;
  max-width: 500px;
}

.Contact-p {
  align-self: flex-start;
  width: 65%;
}

.Contact-p p {
  font-size: 1em;
  font-weight: 200; 
  margin: 20px 0 20px 0;
}

.Info-pm {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  text-align: right;
}

.Info-pm a {
  color: #BBB;
  text-decoration: none;
  margin: 5px;
  font-weight: 300;
}

.Info-pm a:hover {
  color: #000;
}

.Social {
  display: flex;
  flex-direction: column;
  width: 88vw;
}

.Social-title {
  display: flex;
  justify-content: center;
}

.Social-title h3 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2em;
  margin: 20px 0 20px 0;
}

.Links {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 88vw;
  max-width: 400px;
}

.Links a {
  color: #BBB;
  text-decoration: none;
  margin: 5px;
  font-weight: 300;
  border-bottom: solid 1px #BBB;
}

.Links a:hover {
  color: #000;
}

.Logo {
  padding-top: 30px;
}

.logo-svg {
  width: 5vh;
  height: auto;
}

@media only screen and (min-width: 768px) {
  .Body-img {
    margin-bottom: -125px !important;
  }

  .Body-cont h1 {
    font-size: 5.5em;
  }

  .Social-title h3 {
    font-size: 2.5em;
    margin: 30px 0 30px 0;
   }

  .Contact-p p {
    font-size: 1.3em;
    margin: 30px 0 30px 0;
  }

  .Info-pm a {
    font-size: 1.3em;
  }

  .Links a {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 1100px) {
  .Body-img {
    margin-bottom: -150px; 
  }

  .Body-cont h1 {
    font-size: 5.7em;
    margin-bottom: 35px;
  }

  .Social-title h3 {
    font-size: 2em;
    margin: 0 0 10px 0;
   }

  .Contact-p p {
    font-size: 1em;
    margin: 0;
  }

  .Info-pm a {
    font-size: 1em;
    margin: 2px;
  }

  .Links a {
    font-size: 1em;
  }
}
