.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.Body-img {
  margin-bottom: -96px;
}

.Body-img img {
  width: 88vw;
  max-width: 500px;
  height: auto;
}

.Body-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Body-cont h1 {
  font-weight: 900;
  font-size: 3.6em;
  text-transform: uppercase;
  color: #fff;
}

.Contact-info {
  display: flex;
  flex-direction: column;
  width: 88vw;
  max-width: 500px;
}

.Contact-p {
  align-self: flex-start;
}

.Contact-p p {
  margin: 0;
  max-width: 375px;
  font-size: 1em;
  font-weight: 200; 
}

.Info-pm {
  display: flex;
  align-self: flex-end;
}

.Info-pm a {}

.Social {
  display: flex;
  flex-direction: column;
  width: 88vw;
  max-width: 500px;
}

.Social-title {
  display: flex;
}

.Social-title h3 {
  align-self: flex-start;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2em;
}

.Links {
  display: flex;
  align-self: flex-end;
}

.Links a {}

@media only screen and (min-width: 768px) {
  .Body-img {
    margin-bottom: -146px;
  }

  .Body-cont h1 {
    font-size: 5.5em;
  }
}

@media only screen and (min-width: 1100px) {
  .Contact {
  }

  .Body-img {
    margin-bottom: -150px; 
  }

  .Body-cont h1 {
    font-size: 5.7em;
  }
}
