.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.Body-img {
  margin-bottom: -96px;
}

.Body-img img {
  width: 88vw;
  max-width: 500px;
  height: auto;
}

.Body-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Body-cont h1 {
  font-weight: 900;
  font-size: 3.6em;
  text-transform: uppercase;
  color: #fff;
}

.Buttons {
  display: flex;
  justify-content: space-around;
}

.Buttons button {
  width: 30vw;
  max-width: 150px;
  height: 2em;
  border: solid 1px #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1em;
  background-color: #fff;
}

.Buttons button:hover {
  background-color: #000;
  color: #fff;
}

@media only screen and (min-width: 1100px) {
  .Body-img {
    margin-bottom: -130px; 
  }

  .Body-cont h1 {
    font-size: 5em;
  }
}
