.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 4;
}

.hide {
  top: -10vh !important;
}

.lc {
  padding-left: 20px;
}

.lc h2 {
  border: 3px solid #000;
  padding: 5px;
}

.lc a {
  color: #000;
  text-decoration: underline #BBB;
}
