html {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

#header {
  flex: 0; 
}

#body {
  flex: 1;
  position: relative;
  overflow: auto;
}

#footer {
  flex: 0;
}
